
body {
  font-family: "Consolas", sans-serif;
  background-color: #040404;
  color: #ffffff;
  position: relative;
  background: transparent;
  font-size: 105%;
 
}



body::before {
  content: "";
  position: fixed;
  /*
  background:url('/assets/img/bgspiral.gif');
  */
  background-color:hsla(282,100%,1%,1);
  background-image:
  radial-gradient(at 9% 56%, hsla(195,92%,34%,0.6) 0px, transparent 50%),
  radial-gradient(at 58% 38%, hsla(308,72%,23%,0.91) 0px, transparent 50%),
  radial-gradient(at 95% 76%, hsla(267,79%,64%,0.38) 0px, transparent 50%);



  left: 0;
  right: 0;

  height: 100vh;
  z-index: -1;
}
/*
.body-bg{
  background: url('/assets/img/bgray.png')  ;
  background-size: 4000px;
  background-position: left ;

}
*/

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  
  }

}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Consolas", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
  
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: bold;
  font-family: "Consolas", sans-serif;

}

#header h1 a, #header h1 a:hover {
  color: rgb(224, 218, 218);
  display: inline-block;

}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: #00e1ff;
  
  padding-bottom: 6px;

}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  background: #0000;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  margin-top: 35px;
}

.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li + li {
  margin-left: 30px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 23px;
  font-family: "Consolas";
  
  font-weight: 400;
}

.nav-menu a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 25px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}




/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ffffff;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.726);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}

#header.header-top .social-links, #header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .nav-menu {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }
  #header.header-top h1 {
    font-size: 26px;
  }
}




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background-color: #00000000;
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }
  section.section-show {
    top: 80px;
  }
}

.section-title h2 {

  font-size: 20px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;;
  font-family: "Consolas", sans-serif;

}


.section-title2 h2 {
  display: flex;
  justify-content: center;
 
  
 
  font-weight: 700;
  font-size: 26px;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e0d9d9;
  font-family: "Consolas", sans-serif;
  
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffffff;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Consolas", sans-serif;
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}
.about-me .content p {
  
  font-size: 20px;
  color: #ffffff;
}


.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  padding-bottom: 10px;
}

.about-me .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #ffffff;
}

.about-me .content p:last-child {
  margin-bottom: 0;
  font-size: 20px;

}/*
.about-me.container{
  background: rgba(0, 0, 0, 0.4); 
  
  
}
*/
/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #ffffff;
  border-radius: 50px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/





.skills-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 5%;
  


  
}


.skills .progress {
  height: 25px;
  display: block;
  background: none;
}

.skills  .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  display: block;  
  
}

.skills  .skill .val {
  float: right;
  font-family: "Consolas", sans-serif;

}
/*
.skills.container{
  background: rgba(0, 0, 0, 0.4);
}
*/





.img-lang{
  margin-left: 8px;
 
}



.val .img-lang:hover{

  transform: scale(1.5);
  transition: all 300ms ease;

}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;

}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}


/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Consolas", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #000000;
  border: 2px solid #ffffff;
}
/*
.resume .container{
  background: rgba(0, 0, 0, 0.4);
}
*/

.button {
  --width: 100px;
  --height: 35px;
  --button-color: #0293a7;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  border-radius: 0.45em;
  font-family: "Consolas";
  transition: background 0.3s;
  display: grid;
  justify-content: center;
  align-items: center;
}


.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  left: calc(50% - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
  margin:0px auto;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #0293a7;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.img-proyect{
  width: 350px;
  height: 200px;
  z-index: 1;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1%;
}



.services .icon-box {
  text-align: center;
  background: rgba(204, 204, 204, 0.1);
  transition: all ease-in-out 0.3s;
  display: block;
  width: 350px;
  height: 330px;

  
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #000000;
  border-radius: 5px;
  transition: all .3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
 
  
}

.services .icon-box .icon i {
  color: #000000;
  font-size: 28px;
  
}

.services .icon-box .icon::before {
  position: absolute;
  content: '';
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: all .3s ease-out 0s;
  transform: translateZ(-1px);
  
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  padding-top: 5%;
  
}

.services .icon-box h4 a {
  color: #fff;
  
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  
}

.services .icon-box:hover {
  background: #202020;
  border-color: #ffffff;
  
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #ffffff;
}

.services .icon-box:hover .icon::before {
  background: #ffffff;
}

.services .icon-box:hover h4 a, .services .icon-box:hover p {
  color: #fff;
}
/*
.services .container{
  background: rgba(0, 0, 0, 0.4);
}
*/





.cv{
  display: flex;
  justify-content: center;

  text-align: center;
  font-size: 25px;
  margin: 100px 0 20px 0;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Consolas", sans-serif;
  
}










button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: "Consolas", sans-serif;
  
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}





.textitems {
  color: #ffffff;

}


.col-lg-6 li{
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}


.img-gallery{
  max-width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1%;
  margin-bottom: 5%;
  box-sizing: border-box;

}





/*
.img-gallery:hover {
  -webkit-transform:scale(5);
  transform:scale(5);



  box-sizing: border-box;
}
*/

/* typed effect */


.typedcontainer p {
  font-size: 2rem;
 
  
  
  overflow: hidden;
}

.typedcontainer p span.typed-text {
  font-weight: normal;
  color: #00e1ff;
}
.typedcontainer p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.typedcontainer p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}




